referencia_para_estudo_certificacao_linux/*.odt filter=lfs diff=lfs merge=lfs -text
referencia_para_estudo_git/*.odt filter=lfs diff=lfs merge=lfs -text
referencia_para_estudo_libre_office/*.odt filter=lfs diff=lfs merge=lfs -text
